/*
 * SPDX-FileCopyrightText: 2025-present Tobias Kunze
 * SPDX-License-Identifier: Apache-2.0
 */

.dashboard-history {
  max-height: none;

  .list-group {
    .logentry {
      flex-direction: row;
      & > * {
        display: inline-block;
      }

      > span {
        padding-right: 8px;
        width: 350px;

        &.time,
        &.person {
          width: 200px;
        }

        &.log-object {
          width: 250px;
        }
        br {
          display: none;
        }
      }
    }
  }
}
.list-group .logentry.list-group-item {
  display: flex;
  flex-direction: column;
  .time {
    color: var(--color-text-muted);
  }
  span i.fa {
    padding-right: 4px;
  }
}
@media (max-width: 768px) {
  .dashboard-history .list-group .logentry {
    flex-direction: column;
    border-bottom: 1px solid var(--color-grey-light);
    padding-top: 16px;
    .meta {
      flex-direction: column;
      .time {
        padding-bottom: 16px;
      }
    }
  }
}

.history-sidebar {
  margin-top: 1rem;

  .card-header {
    padding: 0.5rem 1rem;
    background-color: #f8f9fa;
  }

  .card-title {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
  }

  .logentry.compact {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }

  .log-time {
    margin-bottom: 0.25rem;
  }

  .log-person {
    margin-bottom: 0.25rem;
  }

  .log-text {
    color: #495057;
  }

  .btn-xs {
    padding: 0.125rem 0.25rem;
    font-size: 0.75rem;
    margin-left: 0.25rem;
  }
}
